.charactersChoice {
    display: flex;
    justify-content: start;
    margin-top: 20px;
}

.redRectangle {
    background-color: red;
    width: 20px;
    height: 150px;
}

.blueRectangle {
    background-color: blue;
    width: 20px;
    height: 150px;
}