@font-face {
    font-family: Game;
    src: url(../../assets/fonts/PressStart2P-Regular.ttf);
}

:root {
	--primary: #ff5223;
	--secondary: #ffe44e;
}

body {
    font-family: Game;
    font-size: 0.8em;   
    color:white;
}
.map {
    width:10vw;
    height:17vh;
    transition: transform 0.35s ease;
    margin: 0 2em;
    &:hover {
        width:11vw;
        height:18vh;
        border: solid 4px red;
        transform: scale(1.1)
    }
    
}

.selected{
    width:11vw;
    height:18vh;
    border: solid 4px red;
    transform: scale(1.1)
}
h2 {
    text-align: center;
}
.container {
    text-align: center;
}

.container-maps {
    display: flex;
    justify-content: center;
}

