.main-container {
    background-color: #01060D;
    background-image:url(../../assets/maps/arena.jpg) ;
    background-position: 25% 75%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
}
body{
    margin: 0;
    padding: 0;
}